<?xml version="1.0" encoding="UTF-8"?><sv:node xmlns:sv="http://www.jcp.org/jcr/sv/1.0" xmlns:esv="http://www.onehippo.org/jcr/xmlimport" sv:name="settings" esv:merge="combine">
  <sv:property sv:name="send.usage.statistics.to.hippo" sv:type="Boolean" esv:merge="override">
    <sv:value>false</sv:value>
  </sv:property>
</sv:node>
